@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300;400;500;700&display=swap");

body,
html {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  overflow-x: hidden;
}

* {
  text-decoration: none;
  list-style-type: none;
  border: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}
::-webkit-scrollbar {
  width: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
h3 {
  white-space: nowrap;
  display: inline-block;
}

.fa-solid,
.fa-brands {
  padding-inline: 8px;
  color: #f8e7d0;
}

.divider {
  width: 30vw;
  max-width: 30vw;
  background: #a59c8f;

  border: 1px solid #a59c8f;
}

/* NAVBAR */

.navbar {
  display: flex;
  background: #059a91;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  margin: 0 auto;
}
a {
  color: black;
}

.logo a {
  font-family: "Roboto Slab", serif;
  max-width: 350px;
  min-width: 200px;
  color: #f8e7d0;
}
.menu-items a {
  color: #f8e7d0;
  padding-inline: 16px;
}
.menu.btn_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.2em;
}
.menu .btn_container button {
  border: 1px solid #44dad2;
  font-family: "Roboto Slab", serif;

  border-radius: 0.7em;
  width: 40px;
  color: #f8e7d0;
  background-color: transparent;
}
.menu .btn_container button:hover {
  color: #645647;
  border: 1px solid#059a91;
}

/* HEADER */

.header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
  background: url("../img/justice-2.jpeg");
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
#hero {
  font-size: xxx-large;
  color: #44dad2 !important;
}
.title {
  font-size: xx-large;
  margin-bottom: 0.2em;
}
.btn {
  display: inline-block;
  background: #645647;
  color: #f8e7d0;
  border-radius: 8px;
  padding: 12px;
  margin-top: 50px;
}

/* MAIN */
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#who,
#services,
#contacts {
  height: 100%;
}
/* WHO */
#who {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #059a91;
  align-items: center;
  justify-content: center;
}
.who-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#who p {
  max-width: 90vw;
}

/* SERVIZI */

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 12px;

  width: 100vw;
  background: #f8e7d0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* TAB */

.tab {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.tab p {
  max-width: 90vw;
}
.slides {
  gap: 16px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  transition: 0.4s all;
  max-width: 780px;
  overflow-x: auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  cursor: -webkit-grab;
  cursor: grab;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  margin: 0 auto;
}

.card {
  max-width: 250px;
  min-width: 200px;
  height: 250px;
  max-height: 250px;
  text-align: center;
  background: #c4ad93;
  padding-inline: 16px;
  border-radius: 20px;
  scroll-snap-align: start;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card i {
  font-size: xx-large;
  color: black;
  margin-top: -40px;
}
.card p {
  text-align: center;
  text-wrap: balance;
}
.card-img img {
  width: 50px;
  height: auto;
  line-height: 40px;
  margin: -30px auto 8px;
}

/* CONTACTS */

#contacts {
  width: 100vw;

  display: flex;

  align-items: center;
}
.contacts-text {
  padding-inline: 16px;
}
.contacts-text span {
  color: #8c7e6a;
}
.contacts-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #f8e7d0;
  background: #8c7e6a;
  margin: 10%;
  max-width: 300px;
  height: auto;
  padding: 24px 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
.free:hover {
  cursor: pointer;
  color: #44dad2;
}
label {
  color: #f8e7d0;
}
input {
  border-radius: 10px;
  max-width: 250px;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
}
.btn-form {
  padding: 6px 10px;
  background: #645647;
  border-radius: 10px;
  margin-top: 16px;
  color: #f8e7d0;
}

.btn-form:hover {
  background: #059a91;
  border: 1px solid #059a91;
  color: black;
}

/* FOOTER */

footer {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
  background: #059a91;
  color: #f8e7d0;
  text-align: center;
  font-size: x-large;
}
.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30vw;
  white-space: nowrap;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: medium;
  align-items: start;
}

@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /* .logo a {
    font-size: small;
  } */
  .menu-items {
    font-size: x-small;
    display: flex;
    justify-content: end;
  }
  .menu .btn_container button {
    width: 30px;
    font-size: x-small;
    text-align: center;
  }
  .navbar {
    flex-direction: column;
    align-items: initial;
    height: 12vh;
    gap: 0.7em;
  }
  #hero {
    font-size: x-large;
  }
  h3 {
    font-size: small;
  }
  #who {
    height: 100%;
  }
  #services {
    height: 100%;
  }
  .slides {
    width: 50vw;
  }
  .card {
    width: 45%;
    margin: 8px;
  }
  #contacts {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    justify-content: space-between;
  }
  .fa-solid,
  .fa-brands {
    padding-inline: 10px;
    color: #f8e7d0;
  }
  /* .logo {
    width: 50%;
    display: contents;
  } */
  .menu-items {
    font-size: small;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .menu .btn_container button {
    width: 30px;
    font-size: x-small;
    text-align: center;
  }
  .navbar {
    flex-direction: column;
    align-items: initial;
    height: 12vh;
  }
  /* .logo a {
    font-size: small;
  } */
  .menu {
    font-size: medium;
  }
  #hero {
    font-size: xx-large;
  }
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1024px) {
}
